<footer class="footer page-footer">	
	<div class="footer-copyright">
	    <div class="container">
		    © 2019 Copyright
		    <div class="right">
		    	<a href="https://www.facebook.com/azhelle16" target="_blank" data-position="top" data-tooltip="You need to be logged in on your account to see my profile 😉" class="tooltipped">
		    		<i class="fab fa-facebook-square fa-3x">
		    	</i></a>
		    	<a href="https://www.instagram.com/sweet_biotch/" target="_blank"><i class="fab fa-instagram fa-3x"></i></a>
		    	<a href="https://www.linkedin.com/in/azhelle16/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
		    	<a href="https://github.com/azhelle16" target="_blank"><i class="fab fa-github fa-3x"></i></a>
		    </div>
	    </div>
  </div>
</footer>

