<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">maricel 💜 sumulong</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/about">About</a></li>
        <li><a href="/portfolio">Projects</a></li>
        <li><a href="/resume">Resume</a></li>
        <!-- <li><a href="/contact">Contact</a></li> -->
      </ul>
    </div>
    <ul class="sidenav" id="mobile-demo">
	    <li><a href="/about">About</a></li>
        <li><a href="/portfolio">Projects</a></li>
        <li><a href="/resume">Resume</a></li>
        <!-- <li><a href="/contact">Contact</a></li> -->
	</ul>
</nav>