<script type="text/javascript" src="./javascript/contact.js"></script>
<div class="container">
	<div class="row card-panel">
        <div class="col s12 m12">
          	<div class="row">
            	<form class="col s12">
                  	<div class="row">
	                    <div class="input-field col s12">
	                      <i class="fas fa-id-card prefix"></i>
	                      <input id="fname" type="text" class="validate">
	                      <label for="fname">Full Name</label>
	                    </div>
                  	</div>
                  	<div class="row">
	                    <div class="input-field col s12">
	                      <i class="fas fa-envelope prefix"></i>
	                      <input id="email" type="email" class="validate">
	                      <label for="email">Email</label>
	                    </div>
                  	</div>
                  	<div class="row">
	                    <div class="input-field col s12">
	                      <i class="fas fa-comments prefix"></i>
	                      <textarea id="message" class="materialize-textarea validate" data-length="250"></textarea>
	                      <label for="message">Message</label>
	                    </div>
	                </div>
                	<div class="row">
	                    <div class="input-field col s12">
	                        <button class="btn black waves-effect waves-light right" type="button" id="btnSub">Submit
	                          <i class="fab fa-telegram-plane right"></i>
	                        </button>
	                    </div>
                	</div>
            	</form>
          	</div>
        </div>       
    </div>
</div>
<div id="alertModal" class="modal">
    <div class="modal-content">
        <div class="modal-body center-align">
        </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
</div>
<div id="loadingModal" class="modal">
    <div class="modal-content">
        <div class="modal-body center-align">
        	<p class="loadingType"></p>
        	<img src="./images/loading.gif" height=40>
        </div>
    </div>
</div>