<div class="secondaryContainer hide-on-med-and-down">
	<div class="left paris animated fadeInLeft slower">
		<img src="../images/paris.png">
	</div>
	<div class="right greetings">
		<div class="frenchFonts"><p><img class="animated fadeInDown slower" src="../images/bienvenue.png"></p></div>
		<div class="right-align frenchFonts"><p><img class="animated fadeInUp slower" src="../images/welcome.png"></p></div>
	</div>
</div>
<div class="secondaryContainer hide-on-large-only show-on-med-only hide-on-small-only">
	<div class="greetings-med greetings-sm center">
		<div class="frenchFonts"><p><img class="responsive-img animated fadeInDown slower" src="../images/bienvenue.png"></p></div>
		<div class="right-align frenchFonts"><p><img class="responsive-img animated fadeInUp slower" src="../images/welcome.png"></p></div>
	</div>
</div>

<div class="secondaryContainer hide-on-large-only hide-on-med-only show-on-small-only">
	<div class="greetings-sm center">
		<div class="frenchFonts"><p><img class="responsive-img animated fadeInDown slower" src="../images/bienvenue.png"></p></div>
		<div class="right-align frenchFonts"><p><img class="responsive-img animated fadeInUp slower" src="../images/welcome.png"></p></div>
	</div>
</div>

<!-- images from https://textfx.co -->