<script type="text/javascript" src="./javascript/portfolio.js"></script>

<div class="carousel">
    <a class="carousel-item" href="#c1">
    	<img src="./images/wordGuess.png">
    	<p class="projTitle">WORD GUESS</p>
    </a>
    <a class="carousel-item" href="#c2">
    	<img src="./images/cc.png">
    	<p class="projTitle dispHide">CRYSTAL COLLECTOR</p>
    </a>
    <a class="carousel-item" href="#c3">
    	<img src="./images/triviaGame.png">
    	<p class="projTitle dispHide">TRIVIA GAME</p>
    </a>
    <a class="carousel-item" href="#c4">
    	<img src="./images/bp.png">
    	<p class="projTitle dispHide">BATTLE OF THE PRINCESSES</p>
    </a>
    <a class="carousel-item" href="#c5">
   		<img src="./images/gif.png">
   		<p class="projTitle dispHide">GIFTASTIC</p>
   	</a>
    <a class="carousel-item" href="#c6">
    	<img src="./images/concert-this.png">
    	<p class="projTitle dispHide">LIRI-BOT</p>
    </a>
    <a class="carousel-item" href="#c7">
    	<img src="./images/app-bamazon1.png">
    	<p class="projTitle dispHide">BAMAZON - CUSTOMER VIEW</p>
    </a>
    <a class="carousel-item" href="#c8">
    	<img src="./images/app-bamazon2.png">
    	<p class="projTitle dispHide">BAMAZON - MANAGER VIEW</p>
    </a>
    <a class="carousel-item" href="#c9">
    	<img src="./images/friend-finder.png">
    	<p class="projTitle dispHide">FRIEND-FINDER</p>
    </a>
    <a class="carousel-item" href="#c10">
    	<img src="./images/triviosa.png">
    	<p class="projTitle dispHide">TRIVIOSA</p>
    </a>
    <a class="carousel-item" href="#c11">
    	<img src="./images/hpwsa.png">
    	<p class="projTitle dispHide">NEWS SCRAPER</p>
    </a>
    <a class="carousel-item" href="#c12">
    	<img src="./images/clicky-game.png">
    	<p class="projTitle dispHide">CLICKY-GAME</p>
    </a>
    <a class="carousel-item" href="#c13">
    	<img src="./images/tip-me-node.png">
    	<p class="projTitle dispHide">TIP ME (CLI)</p>
    </a>
    <a class="carousel-item" href="#c14">
    	<img src="./images/tip-me-ui.png">
    	<p class="projTitle dispHide">TIP ME (GUI)</p>
    </a>
</div>

<ul>
	<li id="c1" class='projDef animated fadeInUp'>
		<p>
			A hangman-based application where the user is to select categories in order to start the game. The user then have 15 guesses to guess the word.
			<a href="https://azhelle16.github.io/Word-Guess-Game/" target="_blank" data-position="bottom" data-tooltip="Click To See Project" class="tooltipped">
				<i class="fas fa-external-link-alt"></i>
			</a>
		</p>
		<p>Tools Used: <i><b>JavaScript, HTML5, CSS3</b></i></p>
	</li>
	<li id="c2" class='projDef dispHide'>
		<p>
			In this project, the user will be given a random number at the start of the game. There are four crystals to play with. By clicking on a crystal, it will add a specific amount of points to the score. The user wins the game by matching his total score to the random number. Otherwise, the user loses the game if the total score goes above the random number. The value of each crystal is hidden from the until it's clicked. Each time the game starts, the game will change the value of each crystal.
			<a href="https://azhelle16.github.io/Unit-4-Game/" target="_blank" data-position="bottom" data-tooltip="Click To See Project" class="tooltipped">
				<i class="fas fa-external-link-alt"></i>
			</a>
		</p>
		<p>Tools Used: <i><b>JQuery, HTML5, CSS3</b></i></p>		
	</li>
	<li id="c3" class='projDef dispHide'>
		<p>
			The user is given 10 question to answer within 10 seconds each. The user will be prompted if they got the answer right or wrong. If the user won't be able to answer the question in time, it'll show the correct answer and moved on to the next question.
			<a href="https://azhelle16.github.io/Trivia-Game-2/" target="_blank" data-position="bottom" data-tooltip="Click To See Project" class="tooltipped">
				<i class="fas fa-external-link-alt"></i>
			</a>
		</p>
		<p>Tools Used: <i><b>JQuery, HTML5, CSS3</b></i></p>
	</li>
	<li id="c4" class='projDef dispHide'>
		<p>
			The user will select both players to be the main character and the defender. The main character will be on the left side while the defender will be on the right side. After selecting the players, click the attack button to begin the battle. When the main character wins, the user will select another player to battle. This will continue until the main character has enough HP to battle other player. When the main character loses, a restart button will appear and when clicked, the user will choose two new players to start the game.
			<a href="https://azhelle16.github.io/RPG-Game/" target="_blank" data-position="bottom" data-tooltip="Click To See Project" class="tooltipped">
				<i class="fas fa-external-link-alt"></i>
			</a>
		</p>
		<p>Tools Used: <i><b>JQuery, HTML5, CSS3</b></i></p>
	</li>
	<li id="c5" class='projDef dispHide'>
		<p>
			The goal of this project is to collect GIFs using AJAX based from the button selected. When the image is clicked, it can be manipulated to show its animated and still images. The user can also add new topics to pull out GIFs from by providing data in the line and hit the submit button or press enter. For every selection of the same button, 10 additional GIFs will be added. The user can also add a GIF through the FAVORITES section. The added GIF can also be removed by clicking on the REMOVE button. The user can also download a GIF.
			<a href="https://azhelle16.github.io/GifTastic/" target="_blank" data-position="bottom" data-tooltip="Click To See Project" class="tooltipped">
				<i class="fas fa-external-link-alt"></i>
			</a>
		</p>
		<p>Tools Used: <i><b>JQuery, HTML5, CSS3 and BootStrap</b></i></p>		
	</li>
	<li id="c6" class='projDef dispHide'>
		<p>
			LIRI is like iPhone's SIRI. However, while SIRI is a Speech Interpretation and Recognition Interface, LIRI is a Language Interpretation and Recognition Interface. LIRI will be a command line node app that takes in parameters and gives you back data.
			<a href="https://github.com/azhelle16/LIRI-Node-App" target="_blank" data-position="bottom" data-tooltip="Click To See Github Repo" class="tooltipped">
				<i class="fas fa-external-link-alt"></i>
			</a>
		</p>
		<p>Tools Used: <i><b>NodeJS</b></i></p>
		<p>Node Packages Used: <i><b>Axios, Node-Spotify, Moment, FS</b></i></p>
	</li>
	<li id="c7" class='projDef dispHide'>
		<p>
			Bamazon will be a command line node app that behaves like the Amazon Store. It will allow the user to make purchase. Each valid purchases will update the database and will prompt user insufficient quantity if stock left does not meet the required number of purchases.
			<a href="https://github.com/azhelle16/Bamazon-1" target="_blank" data-position="bottom" data-tooltip="Click To See Github Repo" class="tooltipped">
				<i class="fas fa-external-link-alt"></i>
			</a>
		</p>
		<p>Tools Used: <i><b>NodeJS</b></i></p>
		<p>Node Packages Used: <i><b>CLI-Table, MySQL and Inquirer</b></i></p>
	</li>
	<li id="c8" class='projDef dispHide'>
		<p>
			An extension of the first Bamazon Project, the user is now allowed to check inventories and its quantities, add stocks and add new products.
			<a href="https://github.com/azhelle16/Bamazon-2" target="_blank" data-position="bottom" data-tooltip="Click To See Github Repo" class="tooltipped">
				<i class="fas fa-external-link-alt"></i>
			</a>
		</p>
		<p>Tools Used: <i><b>NodeJS</b></i></p>
		<p>Node Packages Used: <i><b>CLI-Table, MySQL and Inquirer</b></i></p>
	</li>
	<li id="c9" class='projDef dispHide'>
		<p>
			A dating-app inspired project where the user has to answer 10 questions. When the user submits the answer, the program then finds the best match based on the score tallied.
			<a href="https://ucb-friend-finder-app.herokuapp.com" target="_blank" data-position="bottom" data-tooltip="Click To See Project" class="tooltipped">
				<i class="fas fa-external-link-alt"></i>
			</a>
		</p>
		<p>Tools Used: <i><b>JQuery, HTML5, CSS3 and NodeJS</b></i></p>
		<p>Node Packages Used: <i><b>MySQL, ExpressJS, Body-Parser, Method-Override, DotEnv and Path</b></i></p>
	</li>
	<li id="c10" class='projDef dispHide'>
		<p>
			It’s a single-player trivia game. The player also belongs to a team upon a sign-up. Each question correctly answered adds random points to both the player and the player team’s score. At the end of each game, the player can see his score, rank and the overall ranking of his team. He can also checkout the Leaderboard to see the scores and rankings of all the players and teams. Co-developed with <i><b>Juthika Shetye</b></i>.
			<a href="https://ucb-quiz-app.herokuapp.com" target="_blank" data-position="bottom" data-tooltip="Click To See Project" class="tooltipped">
				<i class="fas fa-external-link-alt"></i>
			</a>
		</p>
		<p>Tools Used: <i><b>JQuery, HTML5, CSS3, BootStrap and NodeJS</b></i></p>
		<p>Node Packages Used: <i><b>MySQL, ExpressJS, Body-Parser, Method-Override, DotEnv, Express-Session, MD5 and Cookie-Parser</b></i></p>
	</li>
	<li id="c11" class='projDef dispHide'>
		<p>
			A web application that lets users view and saved articles, leave and delete comments on the latest news.
			<a href="https://ucb-news-scraper.herokuapp.com" target="_blank" data-position="bottom" data-tooltip="Click To See Project" class="tooltipped">
				<i class="fas fa-external-link-alt"></i>
			</a>
		</p>
		<p>Tools Used: <i><b>JQuery, EJS, CSS3, BootStrap and NodeJS</b></i></p>
		<p>Node Packages Used: <i><b>ExpressJS, Axios, Request, Cheerio, Body-Parser and MongoJS</b></i></p>
	</li>
	<li id="c12" class='projDef dispHide'>
		<p>
			A memory game inspired application where the user will select the images once. If the user, select the same image, the game will restart. Clicking the logo or game title will restart all scores to 0.
			<a href="https://azhelle16.github.io/Clicky-Game/" target="_blank" data-position="bottom" data-tooltip="Click To See Project" class="tooltipped">
				<i class="fas fa-external-link-alt"></i>
			</a>
		</p>
		<p>Tools Used: <i><b>Materialize, ReactJS</b></i></p>
	</li>
	<li id="c13" class='projDef dispHide'>
		<p>
			A command-line interface that computes tip for a particular restaurant server. An entry for Trilogy Online Coding Challenge.
			<a href="https://github.com/azhelle16/Tip-Me" target="_blank" data-position="bottom" data-tooltip="Click To See Project" class="tooltipped">
				<i class="fas fa-external-link-alt"></i>
			</a>
		</p>
		<p>Tools Used: <i><b>NodeJS</b></i></p>
		<p>Node Packages Used: <i><b>CLI-Table, Requirer and Inquirer</b></i></p>
	</li>
	<li id="c14" class='projDef dispHide'>
		<p>
			A web application that computes tip for a particular restaurant server. An entry for Trilogy Online Coding Challenge.
			<a href="https://azhelle16.github.io/Tip-Me-2/" target="_blank" data-position="bottom" data-tooltip="Click To See Project" class="tooltipped">
				<i class="fas fa-external-link-alt"></i>
			</a>
		</p>
		<p>Tools Used: <i><b>Materialize, JQuery, HTML5, CSS3</b></i></p>
	</li>
</ul>
